<div class="row">

  <div class="col-md-6">
    <ol class="list-group">
      <li *ngFor="let todo of todos" class="list-group-item">
        {{todo.name}} : {{todo.content}}
        <i class="fa fa-trash" aria-hidden="true" (click)="deleteTodo(todo.id)"></i>
      </li>
    </ol>
  </div>

  <div class="col-md-6">
    <form ngForm #addTodoForm="ngForm">
      <label for="name">Name</label>
      <input ngModel type="text" id="name" name="name" minlength="4" class="form-control" placeholder="Insert name here" required #name="ngModel">
      <div
        *ngIf="name.invalid && name.dirty"
        class="alert alert-danger"
      >
        Name is obligatory and must be at least 4 characters
      </div>
      <label for="content">Content</label>
      <input ngModel type="text" id="content" name="content" class="form-control" required placeholder="Insert content here" #content="ngModel">
      <div
        *ngIf="content.invalid && content.dirty"
        class="alert alert-danger"
      >
        Content is obligatory
      </div>
    </form>
    <button class="btn btn-primary" [disabled]="addTodoForm.invalid" (click)="addTodo(name.value, content.value)">AddTodo</button>
    {{test}}
  </div>

</div>
